@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
@import url(main.css);
* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #d6d0ba;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}
body{
    background-color: #72838A;
}
.container{
    margin-bottom: 100px;
}

/**** HEADER ****/

.header{
    padding: 25px 0px;
    width: 100vw;
    min-height: 8vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__nav{
    margin: 10px 0px;
    width: 90vw;
    background-color: #5E7178;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3)
}
.header__nav:nth-child(2){
    width: 80vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__nav:nth-child(2) > .header__list > .header__item{
    margin: 0px 50px;
}
.header__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.header__item{
    padding: 8px;
    display: flex;
    justify-content: center;
}
.header__link{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}
.header__link>img{
    transform: rotate(90deg);
    width: 50px;
}



/**** FOOTER ****/

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 10vh;
    background-color: #5E7178;
    border-radius: 10px 10px 0px 0px;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
}
.footer > p{
    font-size: 18px;
    font-weight: 500;
}


/**** MESSAGE BOARD ****/

.board-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}
.board__title{
    font-weight: 700;
    font-size: 34px;
}
.board{
    margin: 20px 0px;
    width: 70vw;
    min-height: 40vh;
    height: auto;
    background-color: #5E7178;
    border-radius: 15px 2px;
    padding: 30px;
    box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.75);
}
.board__message{
    background-color: #72838A;
    width: 55%;
    padding: 30px;
    position: relative;
    border-radius: 40px 40px 40px 5px;
}
.board__name{
    font-weight: 700;
    font-size: 24px;
}
.board__date{
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 35px;
    right: 30px;
}
.board_text{
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}
.board__form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.board__form-name,
.board__form-text,
.board__form-btn{
    padding: 8px 16px;
    border: 2px solid #4A565D;
    background-color: #4A565D;
    color: #d6d0ba;
    font-size: 18px;
    border-radius: 4px;
    margin: 5px 0px;
    min-width: 300px;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: .3s;
}
.board__form-name:focus,
.board__form-text:focus{
    outline: none;
    transform: scale(1.01);
    transition: .3s;
}
.board__form-name:hover,
.board__form-text:hover{
    background-color: #373d41;
}
.board__form-btn:hover{
    cursor: pointer;
    background-color: #72838A;
    color: #d6d0ba;
    font-size: 20px;
    transition: .4s;
}



/**** PRODUCTS KURWAAAAAAAAAAAAA ****/

.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.product{
    width: 40%;
    min-height: 300px;
    background-color: #5E7178;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product__col{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product__img{
    width: 100%;
}
.product__name{
    font-size: 22px;
    margin-bottom: 50px;
}
.product__row{
    display: flex;
    width: 100%;
    margin: 50px 0px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -50px;
}
.product__cost{
    font-size: 20px;
    font-weight: 700;
}
.product__btn{
    background-color: #4A565D;
    border: 2px solid #4A565D;
    padding: 8px 12px;
    border-radius: 3px 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.4px;
    transition: .3s;
}
.product__btn:hover{
    background-color: #5E7178;
    border-radius: 6px;
    transition: .3s;
}



/**** PAGES ****/

.pages-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5vw;
}
.page{
    width: 35%;
    margin: 50px; 
    background-color: #5E7178;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(51, 51, 51, 0.5);
}

.page__row:first-child {
    position: relative;
    height: 250px;
}
.page__title{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(40%);
    border-radius: 10px 10px 0px 0px;
    font-size: 36px;
    opacity: 0.8;
    letter-spacing: 0.08em;
    text-shadow: 2px 2px 2px rgba(51, 51, 51, 0.75);
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Montserrat";
}
.page__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.page__row:last-child{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.page__col{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page__col:first-child{
    background: #4A565D;
    border-radius: 0px 5px 5px 10px;
    width: 50%;
    height: 100%;
}
.page__data-yellow,
.page__data-light{
    font-weight: 700;
    text-shadow: 1px 1px 5px #111111;
    font-size: 22px;
    letter-spacing: 0.03em;
}
.page__data-yellow{
    color: #FED438;
}
.page__data-light{
    color: #D6D0BA;
}



/**** TABLE ****/

.payments-wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.payments__table {
    border-collapse: collapse;
    width: 80%;
    min-height: 55vh;
    padding: 20px;
}
.payments__row > th,
.payments__row > td {
    text-align: left;
    padding: 4px;
    font-size: 16px;
    font-weight: 500;
    border: 5px solid #72838A;
    text-align: center;
}
.payments__row>th {
    font-weight: 700;
    font-size: 22px;
    padding: 2px;
    color: #8E9EA5;
    text-shadow: 0px 0px 6px rgba(51, 51, 51, 0.5);
}
.payments__row {
    background-color: #5E7178;
}

.payments__row:first-child > .payments__price:first-child,
.payments__row:first-child > .payments__name:first-child{
    border-radius: 20px 0px 0px 0px;
}
.payments__row:first-child > .payments__date:last-child,
.payments__row:first-child > .payments__status:last-child{
    border-radius: 0px 2px 0px 0px;
}

.payments__row:last-child > .payments__price:first-child,
.payments__row:last-child > .payments__name:last-child{
    border-radius: 0px 0px 0px 2px;
}
.payments__row:last-child > .payments__date:last-child,
.payments__row:last-child > .payments__status:last-child{
    border-radius: 0px 0px 20px 0px;
}


.payments__price{
    width: 10%;
}
.payments__email{
    width: 30%;
}
.payments__date{
    width: 15%;
}
